<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1" href = "#"></a>            
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="nav-item">
                <a class="nav-link active text-muted" aria-current="page" href="#">Copyright 2007-2022 Human Benchmark</a>
                <a class="nav-link active" aria-current="page" href="#">contact@humanbenchmark.com</a>
                <a class="nav-link active" aria-current="page" href="#">Privacy Policy</a>
                <a class="nav-link active" aria-current="page" href="#">Licensing</a>
            </li>
        </ul>
    </footer>
</div>