h1{
    font-size: 80px;
    font-family: sans-serif;
    color:white;
}

p{
    font-family: sans-serif;
    color:white;
    font-size:25px;
}


button{
    background-color: yellow;
    color:black;
    margin-top:15px;
}

