<nav class="navbar sticky-top navbar-expand-lg bg-light">

    <div class="container mt-3">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>  
      </button>

      <div class="d-flex justify-content-around">
        
        <div class="p-2 bg-secondary">
            HUMAN BENCHMARK
        </div>
     
        <div class="p-2">
            DASHBOARD
        </div>

      </div>

      <div class="d-flex justify-content-around">

        <div class="p-2">
            SIGN UP
        </div>
     
        <div class="p-2">
            LOGIN
        </div>

      </div>

    </div>

  </nav>