li {
    font-family: sans-serif;
    font-size: 25px;
}

.spacing{
    /*height: 20px;*/
    margin-bottom: 0px;
}

.navBarMargins{
    margin-top: 0px;
    margin-bottom: 0px;
}

.navTextMargins{
    margin-top:0px;
    margin-bottom:0px;
}

.image{
    margin-top:5px;
}

